<div class="container-register">
    <div class="register">
        <div class="register_content">
            <div class="register_inform">
                <div class="register_title">Criar Conta</div>
                <div class="register_desc">Por favor, ensira seus dados</div>
            </div>

            <form [formGroup]="formRegistro">
                <div class="fullName">
                    <div class="form-group">
                        <i class="pi pi-user"></i>
                        <input type="text" class="form-control" id="name" placeholder="Nome"
                            formControlName="firstName">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Sobrenome"
                            formControlName="lastName">
                    </div>
                </div>

                <div class="form-group">
                    <i class="pi pi-envelope"></i>
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                </div>

                <div class="form-group">
                    <i class="pi pi-lock"></i>
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                        formControlName="password" placeholder="Senha" (keydown.enter)="register()" #passwordInput>
                    <i class="pi" [ngClass]="{'pi-eye': showPassword, 'pi-eye-slash': !showPassword}"
                        (click)="toggleShowPassword()"></i>
                </div>

                <div class="user">
                    <div class="checkbox">
                        <mat-checkbox formControlName="termos">
                            <span class="checkbox-label">Aceito com os termos de uso <a class="termos">Termos</a></span>
                        </mat-checkbox>
                    </div>
                </div>
            </form>



            <button class="register_btn" (click)="register()" (keydown.enter)="register()"
                [disabled]="formRegistro.invalid"> Criar conta
            </button>
            <span class="login">Ja Tem uma conta? <a routerLink="/login">Entrar</a></span>
        </div>
    </div>
</div>