<div class="container-login">
    <div class="login">
        <div class="login_content">
            <div class="login_inform">
                <div class="login_title">Redefinir senha</div>
                <div class="login_desc">Por favor, digite sua nova senha</div>
            </div>

            @if(tokenExpired) {
            <span>Token expirado ou invalido, tente novamente mais tarde!</span>
            <button class="back" routerLink="/login"> Voltar para tela de login
            </button>
            } @else {
            <form [formGroup]="formNewPassword">
                <div class="form-group">
                    <i class="pi pi-lock"></i>
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                        placeholder="Senha" (keydown.enter)="resetPassword()" formControlName="newPassword">
                    <i class="pi" [ngClass]="{'pi-eye': showPassword, 'pi-eye-slash': !showPassword}"
                        (click)="toggleShowPassword()"></i>
                </div>
            </form>
            <button class="login_btn" (click)="resetPassword()" (keydown.enter)="resetPassword()"
                [disabled]="formNewPassword.invalid"> Redefinir senha
            </button>
            }
        </div>
    </div>
</div>